body {
    background-color: rgb(43, 42, 46);
    color: white
}

.personal-profile {
    height: 100%;
    width: 100%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 3px;
    border: 1px solid silver;
}

.key-skills {
    height: 100%;
    width: 100%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 3px;
    border: 1px solid silver;
}

.education-and-training {
    height: 100%;
    width: 100%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 3px;
    border:1px solid silver;
}

.work-experience {
    height: 100%;
    width: 100%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 3px;
    border: 1px solid silver;
}
.employment-history {
    height: 100%;
    width: 100%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 3px;
    border: 1px solid silver;
} 
h2 { text-align: center;}

footer {
    text-align: center;
    color: white;
}