body {
    background-color: rgb(43, 42, 46);
    color: white;
    text-align: center;
    height: 94%;
    width: 94%;
}

.header {
    background-color: grey;
    height: 98%;
    width: 98%;
    margin: 20px;
    padding: 12px;
    border: solid 1px darkgrey;
    text-transform: uppercase;
    text-align: center;
}

.page-bar {
    background-color:grey;
    height: 98%;
    width: 98%;
    margin: 20px;
    padding: 12px;
    border: solid 1px darkgray;
    text-transform: uppercase;
    text-align: center;
}

h1 {color: black}

h2 {
    text-decoration: underline;
}

h3 {text-decoration: underline;}
.name {
    height: 98%;
    width: 98%;
    margin: 20px;
    padding: 12px;
    border: 1px solid silver;
    background-color:  rgb(66, 66, 66);
    text-transform: uppercase;
}

.me {
    height: 25%;
    width: 25%;
    margin: 5px;
    padding: 1px;
    border: 1px dashed silver;
}

.personal-profile {
    height: 98%;
    width: 98%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 12px;
    border: 1px solid silver;     
}

.key-skills {
    height: 98%;
    width: 98%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 12px;
    border: 1px solid silver;
}

.education-and-training {
    height: 98%;
    width: 98%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 12px;
    border:1px solid silver;
}

.work-experience {
    height: 98%;
    width: 98%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 12px;
    border: 1px solid silver;
}
.employment-history {
    height: 98%;
    width: 98%;
    background-color: rgb(66, 66, 66);
    text-align: left;
    margin: 20px;
    padding: 12px;
    border: 1px solid silver;
} 
h2 { text-align: center;
    }

footer {
    text-align: center;
    color: white;
    margin: 20px;
    padding: 12px;
    font-size: small;
}